{% extends "::base.html.twig" %}

{% block title %}AlcaliswebsiteBundle:vitrine:accueil{% endblock %}

{% block body %}
<h1>Welcome to the vitrine:accueil page</h1>
  <h1> {{ nom }}</h1>
{% endblock %}
