{% extends "AlcaliswebsiteBundle::layout.html.twig" %}

{% block title %}  Alcalis tachnologies{% endblock %}

{% block body %}

  <!--==========================
    Intro Section
  ============================-->
  
  <main id="main">

   <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i></i>
          
          </div>

          <div class="col-lg-4 box box-bg">
            
           
          </div>

          <div class="col-lg-4 box">
           
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->
  
    <!--==========================
      About Us Section
    ============================-->
     <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>AT CONNECT WORLD</h3>
         
        </header>
          <div class="row about-cols">
            <p>A travers sa plate forme AT CONNECT WORLD ALCALIS TECHNOLOGIES est un acteur majeur et incontournable dans les services à valeur ajouté (voix, donnée, texte, images, vidéo...).
            La plate forme télématique AT CONNECT WORLD propose tout une panoplie d'applications et services derivant des deux fonctions de gestion
            SMS/MMS : L'ENVOIS et La RECEPTION.
            C'est un portail de service de consultation à distance sécurisé. Véritable outil technologique, il est basé sur l'architecture trois tiers (3 tiers), bâti avec des langages évolués, il donne la possibilité de consulter en temps réel des données tant sur Internet qu'à travers des équipements mobiles (Iphone, Tablette, Smartphone). </p>

            <h5 class="text-success">La plate-forme ALL-CONNECT se décline en 3 grands modules: </h5>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
          <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">LE MODULE WEB EYES</a></h2>
               <p>
                Fonctionnalités
                <ul>
                  
                </ul>
                <li>Accès sécurité via Internet</li> 
                <li>Moteur de recherche intégré</li> 
                <li>Traçabilité des évènements d'utilisation</li> 
                <li>Facturation des consultations</li> 
                <li> Gestion des contacts & des utilisateurs</li>
                <li>Consultation des historiques</li> 
                <li> Consultation dynamique des statistiques</li>
                <li>Maintenance intégré</li> 
                <li> Support d'aide online</li>
                <li> Gestion des mots de passe</li>
                <li>Gestion des backups</li> 
                <li>Gestions des alertes</li> 
                <li>Gestion d'une newsletter</li> 
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">LE MODULE OpenPay</a></h2>
               <p>

                  Le Module OpenPay est le mode de paiement
                  que propose ALCALIS Technologies afin de facturer toutes consultations des services déployés a travers la plate-forme
                  ALL-CONNECT.  </p>

                 <p> Openpay est aussi une plate-forme de micro-paiement qui permet d'acheter des services de faible montant unitaire, sans utiliser sa carte bancaire, en étant débité sur la facture de son opérateur de téléphone mobile.
              </p> 
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">LE MODULE GATEWAY SMS/MMS</a></h2>
               <p>
                <ul>
                  <li>Principales Fonctionalités</li> 
                  <li>Gestions des alertes</li> 
                  <li>Envoie / réception de SMS/MMS</li> 
                  <li>Espace d'administration</li> 
                  <li> Consultation des historiques</li>
                  <li>Consultation dynamique des statistiques</li> 
                  <li>Plate-forme de création & gestion de jeux ludiques</li> 
                  <li> Exportation au format PDF des historiques et des évènements</li>
                </ul>
                
              </p> 
            </div>
          </div>
     
        </div>


      </div>
    </section><!-- #services -->



      <section id="about">
      <div class="container">

        <header class="section-header">
          <h4 class="text-primary" >QUELQUES USAGES TYPE AU SEIN D'UNE ENTREPRISE</h4>
          <p>les Caractéristiques de la plate forme ALL-CONNECT sont variées et forment un grand ensemble d'applications. Cet ensemble permet à la structure dirigeante d'une entité donnée de parvenir à ses objectifs en matière de communication interne et externe, de marketing direct, de fidélisation de la clientèle et de suivi des clients à savoir: </p>
        </header>
        <p>
          <ul>
          <li>Communiquer plus facilement et moins cher entre les membres du personnel</li> 
          <li> Communiquer plus facilement et moins cher avec les clients et partenaires</li>
          <li>Surveillance automatique des échéances des contrats en envoyant des alertes aux responsables.</li> 
          <li>Envoyer des alertes sur les écheances des contrats aux clients et les inviter aux opérations usuelles.</li> 
          <li>Demande d'informations (consultation de comptes, des offres, des échéances des contrats ou d'une information de toute autres nature)</li> 
          <li>Envoyer des informations (changement d'adresse, de contact, poser un problème ou une préoccupation, des suggestions ...)</li> 
          <li>Faire du marketing direct en informant directement les clients sur les nouveaux produits.</li> 
          </ul>
           
        </p>
       

      </div>
    </section><!-- #about -->

      <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>LES PACKS ALL-CONNECT</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/prod22.jpg" class="testimonial-img" alt="">
            <h3>SMS Tools </h3>
           
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Le Pack SMS Tools permet à un usager à partir de son mobile de consulter des services bien définis: 

              Horoscope, Pharmacies de garde
              Kiosque info, Résultats de concours & examens
              la bourse, l'actualité, jeux et ludiques
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/prod02.jpg" class="testimonial-img" alt="">
            <h3>Pack SMS Management Tools </h3>
           
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
               Solutions entreprise, le Pack SMS Managamanent Tools permet l'envoi de message écrit sur téléphone mobile à partir d'un ordinateur portable(pc). «Vous êtes une structure ayant des collaborateurs d'astreintes (nomades) opérationnel sur le terrain, une société à forte concentration humaine ou une société avec un portefeuille clients ou fournisseurs assez conséquent le pack SMS Management Tools est fait pour vous» 
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/prod03.jpg" class="testimonial-img" alt="">
            <h3>Pack SMS Management Plus Standart </h3>
           
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Le Pack SMS Management Plus Standart Permet l'envoi et la réception de message «écrit» sur un téléphone mobile à partir d'un pc.
              Compte unique:
              Notons qu'il n'y a pas de possibilité de créer des comptes sécondaires ou sous comptes associés au compte principal pour d'autres utilisaturs ou services/directions. C'est une adresse unique qui envoie et qui reçois des SMS. Dans le cas d'une entretreprise, elle peut etre utilisée par tous les départements pour envoyer et recevoir des SMS. 
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/prod04.jpg" class="testimonial-img" alt="">
            <h3>Pack SMS Management Plus Entreprise</h3>
            
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
               Le Pack SMS Management Plus Entreprise Permet l'envoi et la réception de message «écrit» sur un téléphone mobile à partir d'un pc.
               Multi-Comptes:
                L'administrateur principale peut créer des comptes secondaires pour d'autres utilisateurs, services, départements, divisions etc... avec ou sans quota. Le pack SMS Management plus entreprise est conçu pour les entreprises souhaitant envoyer et recevoir des SMS depuis plusieurs ordinateurs connectés en réseau tout en ayant une gestion communes des droits des utilisateurs.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          

        </div>

      </div>
    </section> <!-- #testimonials -->



    <!--==========================
      Call To Action Section
    ============================-->
   <!--  <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call To Action</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section> --><!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->
    <!-- <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Our Skills</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">HTML <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">CSS <i class="val">90%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">JavaScript <i class="val">75%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Photoshop <i class="val">55%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!--==========================
      Facts Section
    ============================-->
   <!--  <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Nos chiffres</h3>
          <p>Nous estimons que vous meritez de savoir avec qui vous travaillez .</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">54</span>
            <p>Clients</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">23</span>
            <p>Projects</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Heures de Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">9</span>
            <p>Travailleurs acharnés</p>
  				</div>

  			</div>

       <!--  <div class="facts-img">
          <img src="img/facts-img.png" alt="" class="img-fluid">
        </div> -->

      </div>
  <!--  </section>   #facts -->
    <!--==========================
      Portfolio Section
    ============================-->
   <!--  <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Notre Portefolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tout</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">GSM</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">AT-INFODROME</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">GATEWAY</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">AT-KIOSQUE</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Pack SMS Tools</a></h4>
                <p>GSM</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">OPEN PAYE</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">AT-LIFE-CHURCH</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Pack SMS Management Tools</a></h4>
                <p>GSM</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Pack SMS Management Plus</a></h4>
                <p>GSM</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">WEB EYES</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- #portfolio -->

 <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>LES AUTRES SERVICES ET PRODUITS : TELEMATIQUE</h3>
          <p></p>
        </header>
          <div class="row about-cols">


        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">«AT-INFODROME»</a></h4>
            <p class="description">diffusion d’alertes en direction des abonnés des opérateurs mobile partenaires ayants souscrits à un ou plusieurs services données. Cette Plate-forme prend en charge la gestion des accès des utilisateurs, des partenaires services et des administrateurs, mais également la gestion pleine et entière des ressources et la facturation des services.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">«AT-KIOSQUE»</a></h4>
            <p class="description">La Plate-forme AT-KIOSQUE d’Alcalis Technologies côte d’ivoire est un portail de service de consultation, de téléchargement et de paiement sécurisé de journaux en ligne. 
            </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">«AT-H24»</a></h4>
            <p class="description">Initié avec le concours des partenaires radios (commerciales & proximités) et les opérateurs de Téléphonie mobile, AT-H24 est une plate-forme qui permet aux millions d’auditeurs des dites radios de faire des dédicaces en ligne par SMS ou de participer à des jeux et sondages d’opinions...</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">«BIEN-ÊTRE INFO»</a></h4>
            <p class="description">La Plate-forme BIEN-ÊTRE INFO est une plate-forme de services et de diffusion des informations sur le bien-être, la santé, la beauté, la nutrition, les astuces... en direction des abonnés des opérateurs mobile partenaires ayants souscrits à ce service. Cette Plate-forme prend en charge la gestion des accès des utilisateurs, des partenaires, des services et des administrateurs, mais également la gestion pleine et entière des ressources et la facturation des services. </p>
          </div>
         
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">«AT-MOBILE-ASSUR»</a></h4>
            <p class="description">     

            AT-MOBILE-ASSUR est une plate-forme de service dédiée aux compagnies d’assurance.
            AT-MOBILE-ASSUR est un ensemble d'outils qui vont permettre à une compagnie d'assurance donnée de dynamiser son système de communication.
            La plate-forme AT-MOBILE-ASSUR permet de créer des services qui vont s'adresser à tout le monde en générale, aux fournisseurs, aux employés, aux clients en particulier etc...aussi bien sur l'ensemble du territoire qu'à l'étranger. 
          </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">«BAZAAR-SMS»</a></h4>
            <p class="description">La plate-forme BAZAR-SMS est le premier marché virtuel sur votre téléphone mobile. Vous pouvez dès lors rien qu’en vous servant de votre téléphone mobile vendre, rechercher ou acheter un produit.
            Plate-forme innovatrice de services, non seulement il est le premier de son genre mais en plus ce marché virtuel ne porte particulièrement pas sur un genre de produit ou de service. Mais il va aussi bien de l’achat, à la location ou la vente d’une maison, d’une voiture, d’un ordinateur... et même la vente d’un service. 
          </p>
          </div>
           <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">«AT-LIFE-CHURCH»</a></h4>
            <p class="description">AT-LIFE-CHURCH est un service d’alertes et d’informations télématiques, destiné aux fidèles des églises et mosquées en générale (rencontres de prière, événements heureux - mariage , présentation de bébé, baptême, réunions, cotisations, information sur le service du mois, horaires du culte, programmes de jeûne....) service ouvert auquel peuvent souscrire les fidèles des églises et Mosquées partenaires.

              AT-LIFE-CHURCH est donc une plate-forme de diffusion d’alertes et d’informations variées en direction des abonnés ayants souscrits au service. Cette Plate-forme prend en charge la gestion des accès des utilisateurs, des partenaires service et des administrateurs, mais également la gestion pleine et entière des ressources et la facturation des services.
              Cette plate-forme permet aux églises et mosquées partenaires d’intégrer le SMS dans leurs stratégies de communication.
          </p>
          </div>


        </div>
 
      </div>
    </section><!-- #services -->





   
   <!--==========================
      prestation Section
    ============================--> 
         <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
         <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <a href="securite " class="btn btn-default"  title="Gauche" role="button"> <button type="button" class="btn btn-primary">Sécurité du réseau</button></a>
          <a href="touslesservices " class="btn btn-default" title="Milieu" role="button"><button type="button" class="btn btn-primary">Messagerie d'entreprise</button></a>
          <a href="touslesservices " class="btn btn-default" title="Droite" role="button"><button type="button" class="btn btn-primary">Solution de messagerie</button></a>
           <a href="Cellschool " class="btn btn-default" title="Droite" role="button"><button type="button" class="btn btn-primary">Cellschool</button></a>
           
           

        </div> 
         
        </header>

      </div>
    </section><!-- #services -->


    <!--==========================
      Clients Section
    ============================-->
    <!-- <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section> --><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <!-- <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Notre équipe</h3>
          <p>Des professionnels au services de la croissance de votre entreprise</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4> TOURE BOUBACARI </h4>
                  <span>Président directeur général</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Seuneu Christophe</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
   
  </main>

  <!--==========================
    Footer
  ============================-->
 {% endblock %}