{% extends "AlcaliswebsiteBundle::layout.html.twig" %}

{% block title %}  Alcalis tachnologies{% endblock %}

{% block body %}

  <!--==========================
    Intro Section
  ============================-->
 

  <main id="main">
     <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i></i>
          
          </div>

          <div class="col-lg-4 box box-bg">
            
           
          </div>

          <div class="col-lg-4 box">
           
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      Featured Services Section
    ============================-->
    <!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Cellschool</h3>
         <h4 class="text-primary" >De quoi s'agit-'il ?</h4> 
        <p> 
          <i class="text-primary">CELLSCHOOL</i>  est une plate-forme développé et mise en place par ALCALIS TECHNONOLOGIES afin de facilité la communication entre parents d’élèves formateurs, éducateurs et fondateurs d’écoles.
			<i class="text-primary">CELLSCHOOL</i>  permet en effet aux parents d’élèves d’avoir des informations sur leurs enfants de façon régulière(en temps réel) ainsi donc grâce à la plateforme CELLSCHOOL, les parents d’élèves peuvent suivre l’évolution de leurs enfants par le biais de SMS (Short Message Service).
			Les fondateurs/chefs d’établissements scolaires & universitaires pourront facilement établir quant à eux des statistiques afin d’apprécier le niveau des élèves et des professeurs.
			La plate-forme <i class="text-primary">CELLSCHOOL</i>  se décrit comme un support de communication permettant d’envoyer des SMS (Short Message System) aux parents d’élèves et de recevoir des demandes émanant de ces derniers, les traiter afin d’y répondre. .
        </p>

        <h4 class="text-primary" >Quels sont ses objectifs ?</h4> 
        <p> <i class="text-danger">Fidéliser en augmentant la crédibilité:</i>
		L’un des plus grands soucis des parents d’élèves aujourd’hui est de choisir une école ou leurs enfants seront suivis correctement ; le suivi peu être fait correctement mais encore faut-il en apporter la preuve.
		CELLSCHOOL vous permet donc de facilement le faire par un contact régulier, permanent et en temps réel avec les parents. Ainsi, ceux-ci pourront recevoir sur demande et de façon périodique les résultats de leurs enfants. Vous pourrez ainsi faire des parents d’élèves/étudients des prescripteurs pour d’autres parents.
		</p>
        <p><i class="text-danger">Véhiculer des informations de façon rapide et sûre:</i>
		L’information est vitale pour toutes les entreprises si et seulement si elle vient au bon moment (ni trop tôt ni trop tard) et à l’endroit précis (reçu par son destinataire).
		La plate-forme CELLSCHOOL, grâce à son système de fonctionnement vous permet d’envoyer votre message au(x) destinataire(s) sans intermédiaire mais aussi de façon instantanée.
		</p>
		<p>
			<i class="text-danger">Informer les parents d’élèves sur les résultats et l’assiduité:</i> </br>
			Comment rassurer un parent d’élève sur les résultats ou sur l’assiduité de son enfant si celui-ci pour une quelconque raison n’a pas encore reçu son bulletin.
		</p>
		<p>
			<i class="text-danger">CELLSCHOOL vous donne la solution :</i></br>  informer les parents du résultat de leurs enfants soit de façon périodique (par exemple chaque trimestre) ou à leur demande (voir brochure d’utilisation pour parent).
		</p>
		<p>
			<i class="text-danger">Informer les parents sur d’éventuels devoirs:</i> </br>
			Afin d’aider les parents d’élèves à poursuivre l’éducation scolaire de leurs enfants même à la maison, CELLSCHOOL vous offre la possibilité de les informer sur d’éventuels contrôles prévus dans la semaine.
		</p>
		<p>
			<i class="text-danger">informer les parents sur le solde de la scolarité des jours avant l’échéance:</i> 
			CELLSCHOOL vous permet d’informer les parents d’élèves du montant mensuel de la scolarité de leurs enfants des jours avant la date d’échéance.
		</p>
		<p>
			<i class="text-danger">Réduire les coûts de fonctionnement:</i></br> 
			CELLSCHOOL vous permet d’envoyer aussi des SMS aux parents d’élèves pour les informer sur des dates de réunions éventuelles ou des manifestations auxquelles les parents sont conviés. Ce qui réduit évidemment des coûts d’impression et d’envoi par boite postale.
		</p>
        </header>

       
        </header>

       


    <!--==========================
      Call To Action Section
    ============================-->
   
   

    <!--==========================
      Skills Section
    ============================-->
     <section id="services">
      <div class="container">
      	<div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Avantages Pour les Etablissements </a></h4>
            <p class="description">
			Avantages Pour les Etablissements
			<ul>
				CELLSCHOOL vous donne l’occasion de :
			    <li>Fidéliser les parents d’élèves en augmentant la crédibilité de l’établissement</li> 
			    <li>Véhiculer des informations aux parents d’élèves de façon rapide et sûre</li> 
			    <li>Informer les parents d’élèves des résultats de leurs enfants ainsi que de leurs assiduités</li> 
			    <li>Informer les parents du solde de scolarité</li> 
			</ul>
			    

			.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Avantages Pour Les Parents d'élèves</a></h4>
            <p class="description">     
            	<ul>
            		 CELLSCHOOL vous permet de :
            	<li>De suivre vos enfants régulièrement ;</li> 
			    <li>Recevoir leur résultats scolaires même en étant loin d’eux ;</li> 
			    <li>Connaître la programmation des devoirs afin de les suivre en conséquence ;</li> 
			    <li>être informé du niveau de règlement de la scolarité de vos enfants ;</li> 

            	</ul>
			 
            </p>
          </div>
          

        </div>

      </div>
    </section><!-- #services -->	

   

  </main>

  <!--==========================
    Footer
  ============================-->
 {% endblock %}
