{% extends "AlcaliswebsiteBundle::layout.html.twig" %}

{% block title %}  Alcalis tachnologies{% endblock %}

{% block body %}

  <!--==========================
    Intro Section
  ============================-->
  
  <main id="main">

    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i></i>
          
          </div>

          <div class="col-lg-4 box box-bg">
            
           
          </div>

          <div class="col-lg-4 box">
           
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->
  
    <!--==========================
      About Us Section
    ============================-->
     <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>PACK WEB</h3>
         
        </header>
          <div class="row about-cols">
            <p>Les offres web d’ALCALIS TECHNOLOGIES Côte d’Ivoire se résument en plusieurs panoplies de services web : </p>

           <p>
             <ul>
               
                <li>La réservation et l’enregistrement des noms de domaine</li> 
                <li>La conception et la réalisation des sites (format pc et équipements mobiles)</li> 
                <li>L’hébergement des sites web</li> 
                <li>Le référencement dans les moteurs de recherche & sur les réseaux sociaux</li> 
                <li>La création des adresses mail</li> 

             </ul>
           </p>

        </div>

      </div>
      <p class="text-danger" >NB : 30 000 fcfa /an, tout type de domaine sauf domaines pays (.ci=95 000 Fcfa). </p>
    </section><!-- #services -->





      <section id="about">
      <div class="container">

        <header class="section-header">
          <h4 class="text-primary" >Proposition de tarification des offres Web</h4>
         
        </header>

         

<div class="container">
  <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-red">
            <div class="panel-heading  text-center">
            <h3>Pack Premium</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:30px"><strong>6000 Fcfa/mois</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web de 1 à 5 pages statiques </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Espace d'hébergement de 200 Mo  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Nom de Domaine (www.votreentreprise.com) </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>50 adresses électroniques (Votrenom@votreentreprise.com)   </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Référencement dans les moteurs de recherche  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web de 1 à 5 pages statiques </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Web Mail  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Un formulaire de prise de contact  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Référencement réseaux sociaux</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>3 mises à jours par an </li>
            
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Délai :2 semaines </li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-danger" href="#">Maquette :150 000 FCFA</a>
            </div>
          </div>
          <!-- /PRICE ITEM -->
          
          
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-blue">
            <div class="panel-heading arrow_box text-center">
            <h3>Pack Pro</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:30px"><strong>8000 Fcfa /mois </strong></p>
            </div>
           <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web de 1 à 10 pages statiques </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Espace d'hébergement de 500 Mo  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Nom de Domaine (www.votreentreprise.com) </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>10 adresses électroniques (Votrenom@votreentreprise.com)   </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Référencement dans les moteurs de recherche  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web de 1 à 5 pages statiques </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Web Mail  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Un formulaire de prise de contact  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Référencement réseaux sociaux</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>4 mises à jours par an </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Délai :2 semaines </li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-danger" href="#">Maquette :150 000 FCFA</a>
            </div>
          </div>
          <!-- /PRICE ITEM -->
          
          
        </div>
        
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        
          <!-- PRICE ITEM -->
          <div class="panel price panel-green">
            <div class="panel-heading arrow_box text-center">
            <h3>Pack Ultra</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:30px"><strong>10000 Fcfa/mois</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web interactif </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web avec base de données  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Espace d'hébergement de 1 Go  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Nom de Domaine (www.votreentreprise.com) </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>70 adresses électroniques (Votrenom@votreentreprise.com)   </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Référencement dans les moteurs de recherche  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Site Web de 1 à 5 pages statiques </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Web Mail  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Lettre d'information (newsletter) </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i>Un formulaire de prise de contact  </li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Référencement réseaux sociaux</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Moteur de recherche interne </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Référencement réseaux sociaux </li>

              <li class="list-group-item"><i class="icon-ok text-danger"></i>4 mises à jours par an </li>
               <li class="list-group-item"><i class="icon-ok text-danger"></i>Délai :2 semaines </li>

            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-danger" href="#">Maquette :150 000 FCFA</a>
            </div>
          </div>
          <!-- /PRICE ITEM -->
          
          
        </div>
        
        
        
      </div>
            
</div>
       

      </div>
    </section><!-- #about -->

     



    

    
    
 





   
  

    <!--==========================
      Clients Section
    ============================-->
    <!-- <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section> --><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <!-- <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Notre équipe</h3>
          <p>Des professionnels au services de la croissance de votre entreprise</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4> TOURE BOUBACARI </h4>
                  <span>Président directeur général</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Seuneu Christophe</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
   
  </main>

  <!--==========================
    Footer
  ============================-->
{% endblock %}