{% extends "AlcaliswebsiteBundle::layout.html.twig" %}

{% block title %}  Alcalis tachnologies{% endblock %}

{% block body %}

  <!--==========================
    Intro Section
  ============================-->
  
  <main id="main">

   <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i></i>
          
          </div>

          <div class="col-lg-4 box box-bg">
            
           
          </div>

          <div class="col-lg-4 box">
           
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->
  
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>NOS REFERENCES</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/ref1.jpg" class="testimonial-img" alt="">
            <h3>SMS Tool & Pack SMS Management Tools</h3>
           
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Le Pack SMS Tools permet à un usager à partir de son mobile de consulter des services et le Pack SMS Managamanent Tools permet l'envoi de message écrit sur téléphone mobile à partir d'un ordinateur portable. 
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/ref2.jpg" class="testimonial-img" alt="">
            <h3>pack SMS Management Tools Standart & Pack SMS Management Tools Entreprise </h3>
           
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
               Le Pack SMS Management Plus Standart Permet l'envoi et la reception de message <<écrit>> sur un téléphone mobile à partir d'un pc avec un Compte unique contrairement au Pack SMS Management Plus Entreprise qui est Multi-Compte. 
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/openpay.jpg" class="testimonial-img" alt="">
            <h3>OPENPAY </h3>
           
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
             Openpay est une plate-forme de micro-paiement qui permet d'acheter des services de faible montant unitaire, sans utiliser sa carte bancaire, en étant débité sur la facture de son opérateur de téléphone mobile. 
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="http://alcalis.tech/images/kiosk.png" class="testimonial-img" alt="">
            <h3>AT-KIOSQUE INFO</h3>
            
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
               Une plate-forme de services et de diffusion d'arletes en direction des abonnés ayant souscrits à un ou plusieurs services données. Cette Plate-forme prend en charge la gestion des accès des utilisateurs, des partenaires service et des administrateurs, mais également la gestion pleine et entière des ressources et la facturation des services. 
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          

        </div>

      </div>
    </section> <!-- #testimonials -->


   

    <!--==========================
      Contact Section
    ============================-->
   
  </main>

  <!--==========================
    Footer
  ============================-->
{% endblock %}